
<div class="login-container">
  <div>
      <div class="title">_launchP<a href="/login/login">ad.</a>
      <span class="title-subtitle">Login.</span></div>
  </div><br>
  <div><br>
  <form asp-controller="Login" asp-action="Submit">
          <div class="row">
              <div class="col">
                  <div class="form-group">
                    <label for="txtUserName">Username:</label>
                    <input type="text" name="myUsername" class="form-control" maxlength="10" /><br>
                  </div>
                  <div class="form-group">
                    <label for="txtPassword">Password:</label>
                    <input type="password" name="myPassword" class="form-control" maxlength="10" /><br>
                  </div>
                  <div class="form-group">
                    <input type="submit" text="Submit" class="btn" />
                    <a href="/public/index"><input type="button"" class="btn" value="Back" /></a>
                    <span class="text-warning" style="margin-left:5px;">@ViewData["feedback"]</span>
                  </div>
              </div>
          </div>
  </form>

</div>