@import "~bootstrap/scss/bootstrap";

html { overflow-y: scroll; }
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 0 -15px;
}
body {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-color: #cce2d061;
  padding: 20px 0 20px 0;
  color: rgba(0, 0, 0, 0.733);
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,select,textarea { max-width: 280px; }
.title {
  font-family: 'Roboto Slab', serif;
  font-size:2.5em;
  margin: 5px 0 0 0;
  color: #7496b4;
}
.title-subtitle {
  font-family: 'Roboto Slab', serif;
  color: #7496b4;
  font-size:17px;
  margin-right:15px;
}
.title-subtitle a { color:#7496b4 !important; }
.title-subtitle a:hover { color:#7496b4 !important; }  
/* hidden admin link in title */
.title a { 
  color: #7496b4 !important; 
  font-size: 40px !important;}
.title a:hover { text-decoration:none !important; }  
.title-category {
  font-size: 22px;
  margin: 6px 0 10px 0;
  font-weight:500;
  color: #7496b4;
}
.link { margin-bottom:3px; }
.fas{ font-size: 1rem !important; }
.icon {
  background-color: #FFFFFF;
  height: 4vw;
  width:  4vw;
  border-radius: 3px;
  margin: 0 7px 3px 0;
}
.pin-border {
  border-bottom-style:dashed;
  border-bottom-width:4px;
  border-bottom-color: #7496b4;
  margin: 8px 0 12px 0;
}
#lblExpire{ font-weight: 500; }
a{
  color: rgba(0, 0, 0, 0.733);
  font-size: 1rem ;
}
@media(min-width:1024px){
  .icon{
    height: 2vw;
    width:  2vw;
  }
}