@import "~bootstrap/scss/bootstrap";
html { overflow-y: scroll; }
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 0 -15px;
}
body {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  /* background-color: #cce2d061; */
  background-color: #fcfdfd;
  padding: 20px 0 20px 0;
  color: rgba(0, 0, 0, 0.733);
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,select,textarea { max-width: 280px; }
.title {
  font-family: 'Roboto Slab', serif;
  font-size:2.5em;
  margin: 5px 0 0 0;
  color: #4f6a81;
}
.title-subtitle {
  font-family: 'Roboto Slab', serif;
  /* color: #7496b4; */
  color: #4f6a81;
  font-size:17px;
  margin-right:15px;
}
.title-subtitle a { color:#7496b4 !important; }
.title-subtitle a:hover { color:#7496b4 !important; }  
/* hidden admin link in title */
.title a { 
  color: #7496b4 !important; 
  font-size: 40px !important;}
.title a:hover { text-decoration:none !important; }  
.title-category {
  font-size: 22px;
  margin: 6px 0 10px 0;
  font-weight:500;
  color: #4f6a81;
  padding-top: 7px;
}
.link { margin-bottom:3px; }
.icon {
  background-color: #FFFFFF;
  height: 3vw;width: 3vw;
  border-radius: 3px;
  margin: 0 7px 3px 0;
}
.pin-border {
  border-bottom-style:dashed;
  border-bottom-width:4px;
  border-bottom-color: #7496b4;
  margin: 8px 0 12px 0;
}
#lblExpire{ font-weight: 500; }
a{
  color: rgba(0, 0, 0, 0.733);
  font-size: 1.25vw ;
}
@media(min-width:1024px){
  .icon{
    height: 2vw;width:  2vw;
  }
}
.space{ padding-bottom: 50px; }
.container{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
}
.login-container{
  width: 325px;
  height: 400px;
  margin: 0 auto;
}
.col{
  margin: 0 5px 0 5px;
  min-width: 48%;
  border-radius: 20px;
}
.color:nth-child(2n){ margin-bottom: 50px; }
.color:nth-child(2n+1){ margin-bottom: 50px; }
.link{ white-space: nowrap !important; }

@media only screen and (max-width: 900px) {
  .col{ min-width: 50%; }
  a{ font-size: 2vw ; }
}

@media only screen and (max-width: 768px) {
  .col{ min-width: 50%; }
  a{ font-size: 3vw ; }
}
.btn{ transition: background-color 1s ease-out !important; }
.btn:not(.danger){ background-color: #eef4fb !important; }
.btn:hover:not(.danger){ background-color: #7496b4 !important; }
